.JSTTable {
    color: black;
    font-family: Helvetica;
    font-size: 10pt;
    margin: 0px;
    border: 1px solid black;
}
.JSTHeader {
    background: navy;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 11pt;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.JSTFooter {
    background: navy;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 8pt;
}

.JSTColumnHeader {
    background: navy;
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 26px;
}
.JSTHighlightedColumnHeader {
    background: blue;
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 26px;
}
.JSTColumnHeaderText {
    padding: 4px;
}
.JSTHighlightedColumnHeaderText {
    background: blue;
    color: white;
    border: 1px solid white;
    padding: 3px;
}

.JSTOddRow {
    background-color: #f5f5f5;
    border: none;
}
.JSTHighlightedOddRow {
    background-color: silver;
}
.JSTOddRowCell {
    border: 0px;
    padding: 1px;
}
.JSTHighlightedOddRowCell {
    border: 1px solid black;
    padding: 0px;
}
.JSTOddRowText {
    border: none;
    padding-left: 2px;
    padding-right: 2px;
}
.JSTOddRowTextWithFunction {
    color: black;
    border: none;
    text-decoration: underline;
    padding-left: 2px;
    padding-right: 2px;
}
.JSTHighlightedOddRowText {
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
}
.JSTHighlightedOddRowTextWithFunction {
    background: navy;
    color: black;
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
}
.JSTEvenRow {
    background-color: white;
    border: none;
}
.JSTHighlightedEvenRow {
    background-color: silver;
}
.JSTEvenRowCell {
    border: 0px;
    padding: 1px;
}
.JSTHighlightedEvenRowCell {
    border: 1px solid black;
    padding: 0px;
}
.JSTEvenRowText {
    border: none;
    padding-left: 2px;
    padding-right: 2px;
}
.JSTEvenRowTextWithFunction {
    color: black;
    border: none;
    text-decoration: underline;
    padding-left: 2px;
    padding-right: 2px;
}
.JSTHighlightedEvenRowText {
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
}
.JSTHighlightedEvenRowTextWithFunction {
    background: navy;
    color: white;
    border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
}

.JSTSelectionControl {
}
.JSTEditControl {
    font-family: Helvetica;
    border: 1px solid black;
    color: black;
    background-color: transparent;
}
.JSTEditControlRadioCheckbox {
    border: none;
}
.JSTInvalidEditControl {
    font-family: Helvetica;
    border: 1px solid black;
    color: red;
    background-color: transparent;
}

.JSTNavigation {
    background: navy;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 9pt;
    height: 17px;
}
.JSTNavigationLink  {
    color: lightblue;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.JSTHighlightedNavigationLink {
    background: blue;
    color: white;
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
}